.button{
    background-color: red;
    padding: 8px 12px;
    border-radius: 3px;
    color : white;
}
.button1{
       background-color:blue;
    padding: 8px 12px;
    border-radius: 3px;
    color : white;
}